<suite name="myTestSuite">
	<parameter name="browser" value="Chrome"></parameter>
	<!--<listeners>
		<listener class-name="listeners.Listeners"></listener>
		<listener class-name="listeners.RetryListener"></listener>
	</listeners>-->
	<test name="myTest">
		<classes>
			<class name="testscripts.LoginTest">
				<methods>
					<include
						name="verifyUserLoginWithValidCredentials"></include>

				</methods>
			</class>
			<class name="testscripts.SubCategoryTest"></class>
			<class name="testscripts.AdminUser_ManageProductTest"></class>
			<class name="testscripts.ManageFooterTest"></class>
			<class name="testscripts.ManageNewsTest"></class>
			<class name="testscripts.CategoryTest"></class>
			<class name="testscripts.AdminUserTest"></class>
		</classes>
	</test>
</suite>